<div>
  <h3>Bienvenido {{user.name}}</h3>

  <p>{{user.email}}</p>
  <p><b>Rol:</b> {{user.rol}}</p>
  
    <button  id="botonLogout" type="submit">LOGOUT</button>


</div>


<div>
  <h2>Lista de productos</h2>

  <table>
    <tr>
      <th>ID</th>
      <th>TITLE</th>
      <th>DESCRIPTION</th>
      <th>PRICE</th>
      <th>CODE</th>
      <th>STATUS</th>
      <th>CATEGORY</th>
      <th>STOCK</th>
      <th>THUMBNAILS</th>
    </tr>
    <tbody>
   {{#each products.docs}}
    <tr>
      <td>{{this.id}}</td>
      <td>{{this.title}}</td>
      <td>{{this.description}}</td>
      <td>{{this.price}}</td>
      <td>{{this.code}}</td>
      <td>{{this.status}}</td>
      <td>{{this.category}}</td>
      <td>{{this.stock}}</td>
      <td>{{this.thumbnails}}</td>
    </tr>
 {{/each}}
    </tbody>
  </table>
<br>


  <div class="position-relative m-4">

    <nav aria-label="Page navigation example">
      <ul class="pagination">
        {{#if products.hasPrevPage}}
          <li class="page-item"><a
              class="page-link"
              href="/api/products/?page={{products.prevPage}}&&limit={{products.limit}}"
            >Previous</a></li>
        {{/if}}



        {{#if products.hasNextPage}}
          <li class="page-item"><a
              class="page-link"
              href="/api/products/?page={{products.nextPage}}&&limit={{products.limit}}"
            >Next</a></li>
        {{/if}}

      </ul>
    </nav>
    <p>
      Current Page:
      {{products.page}}
    </p>
  </div>


<a href="/chat"><button> Ir al chat </button></a>
<a href="/api/carts"><button> Ir al carrito </button></a>
<a href="/"><button>Ir a home</button></a>


  <script src="/socket.io/socket.io.js"></script>

</div>


<script src="/js/profile.js"></script>